// импорт обнуления стилей
@import "nullstyle.scss";
// импорт основных стилей классов
@import "clasess.scss";

.header {
	background-color: $grey;
	position: relative;
	height: 130px;
	// header styles
	&__inner {
		display: flex;
		-webkit-align-items: center;
		        align-items: center;
		padding-top: 23px;
		.header__burger {
			display: none;
		}
		.logo {
			display: flex;
		   font-weight: bold;
			font-style: italic;
			.header__logo {
				font-size: 2.5rem;
				background-color: red;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				width: 57px;
				height: 57px;
				display: flex;
				-webkit-justify-content: center;
				        justify-content: center;
				-webkit-align-items: center;
				        align-items: center;
				color: #FFF;
			}
			.logo__dis {
				color: $black;
				font-size: 1.7rem;
				text-transform: uppercase;
				line-height: 66px;
				
			}
		}
		.header__discription {
			display: flex;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
			width: 100%;
			color: $text;
			span {
				width: 10px;
				height: 1px;
				display: inline-block;
				background-color: grey;
				margin: 4px;
			}
		}
	}
	// navigation styles
	.header__nav {
		height: 80px;
		display: flex;
		-webkit-justify-content: center;
		        justify-content: center;
		background-color: #FFF;
		position: absolute;
		width: 1355px;
		border: 1px solid #E2E2E2;
		bottom: -35px;
		display: flex;
		.nav__item {
			position: relative;
			display: flex;
			-webkit-align-items: center;
			        align-items: center;
			.nav__links {
				display: block;
				padding: 30px 70px;
				font-size: 1.06rem;
				line-height: 19px;
				color: $black;
			}
				.line {
					position: absolute;
					width: 50px;
					height: 0;
					right: -23px;
					border: 1px solid #E2E2E2;
					transform: rotate(90deg);
				}
		}
	}
}

// contact
.contact {
	padding-top: 100px;
	padding-bottom: 50px;
	.contact__inner {
		display: flex;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		.contact__item {
			&:last-child {
				width: 100%;
				margin-left: 50px;
			}
			.map {
				width: 100%;
				height: 550px;
			}
			.contact__title {
				margin-bottom: 40px;
				font-size: 1.33rem;
				line-height: 26px;
				color: $black;
			}
			.contact__header {
				margin-bottom: 37px;
				a {
					color: #00A8FF;
				}
				.adress {
					font-size: 1.06rem;
					line-height: 24px;
					color: $black;
				}
				.adress__link {
					font-size: 1.06rem;
					line-height: 24px;
				}
			}
			.contact__middle {
				margin-bottom: 37px;
			}
			.contact__mail {
				margin-bottom: 37px;
				line-height: 24px;
				a {
					color: #00A8FF;
				}
			}
			.number {
				font-size: 1.06rem;
				line-height: 24px;
				color: $black;
			}
		}
		.contact__item:nth-child(2) {
			position: relative;
			overflow: hidden;
			.little {
				position: absolute;
				left: 20px;
				top: 20px;	
			}
		}
	}
}
// bgc
.bgc {
	background-color: $grey;
	padding-top: 50px;
	padding-bottom: 50px;
}
// footer 
.footer {
	position: relative;
		padding-bottom: 20px;
	// navigation styles
	.footer__nav {
		height: 80px;
		display: flex;
		-webkit-justify-content: center;
		        justify-content: center;
		background-color: #FFF;
		position: absolute;
		width: 1375px;
		border: 1px solid #E2E2E2;
		top: -40px;
		display: flex;
		.nav__item {
			position: relative;
			display: flex;
			-webkit-align-items: center;
			        align-items: center;
			.nav__links {
				display: block;
				padding: 30px 70px;
				font-size: 1.06rem;
				line-height: 19px;
				color: $black;
			}
				.line {
					position: absolute;
					width: 50px;
					height: 0;
					right: -23px;
					border: 1px solid #E2E2E2;
					transform: rotate(90deg);
				}
		}
	}
	.footer__info {
		padding-top: 69px;
		position: relative;
		.footer__text {
			word-spacing: 1px;
			font-size: 0.93rem;
			line-height: 20px;
			color: $text;
			padding-bottom: 10px;
		}
		.copyright {
			position: absolute;
			display: block;
			right: 0;
			bottom: 0;
			font-size: 0.93rem;
			line-height: 20px;
			color: $text;
		}
	}
}