
// contact
.contact {
	padding-top: 100px;
	.contact__inner {
		display: flex;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		.contact__item {
			&:last-child {
				width: 1000px;
				margin-left: 50px;
			}
			.map {
				width: 100%;
				height: 550px;
			}
			.contact__title {
				margin-bottom: 40px;
				font-size: 1.33rem;
				line-height: 26px;
				color: $black;
			}
			.contact__header {
				margin-bottom: 37px;
				a {
					color: #00A8FF;
				}
				.adress {
					font-size: 1.06rem;
					line-height: 24px;
					color: $black;
				}
				.adress__link {
					font-size: 1.06rem;
					line-height: 24px;
				}
			}
			.contact__middle {
				margin-bottom: 37px;
			}
			.contact__mail {
				margin-bottom: 37px;
				line-height: 24px;
				a {
					color: #00A8FF;
				}
			}
			.number {
				font-size: 1.06rem;
				line-height: 24px;
				color: $black;
			}
			.viber {
				color:  #7360f2;
			}
			.text {
				color: $text;
			}
		}
		.contact__item:nth-child(2) {
			position: relative;
			overflow: hidden;
			.little {
				position: absolute;
				left: 20px;
				top: 20px;	
			}
		}
	}
}
// bgc
.bgc {
	background-color: $grey;
	padding-top: 50px;
	padding-bottom: 50px;
}