@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  max-width: 1375px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
}

html {
  font-size: 15px;
}

.lock {
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.header {
  background-color: #F9F9F9;
  position: relative;
  height: 130px;
  z-index: 70;
}
.header__inner {
  display: flex;
  align-items: center;
  padding-top: 23px;
}
.header__inner .header__burger {
  display: none;
}
.header__inner .logo {
  display: flex;
  font-weight: bold;
  font-style: italic;
}
.header__inner .logo .header__logo {
  font-size: 2.5rem;
  background-color: red;
  border-radius: 50%;
  width: 57px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}
.header__inner .logo .logo__dis {
  color: #333333;
  font-size: 1.7rem;
  text-transform: uppercase;
  line-height: 66px;
}
.header__inner .header__discription {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #666666;
}
.header .header__nav {
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: #FFF;
  position: absolute;
  width: 1355px;
  border: 1px solid #E2E2E2;
  bottom: -45px;
  display: flex;
}
.header .header__nav .nav__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 20%;
  text-align: center;
}
.header .header__nav .nav__item .nav__links {
  display: block;
  padding-top: 30px;
  font-size: 1.06rem;
  width: 100%;
  height: 100%;
  line-height: 19px;
  color: #333333;
}
.header .header__nav .nav__item .nav__links:hover {
  background: #666666;
  color: #FFF;
  transition: all 0.4s ease-in-out;
}
.header .header__nav .nav__item .line {
  position: absolute;
  width: 50px;
  height: 0;
  right: -23px;
  border: 1px solid #E2E2E2;
  transform: rotate(90deg);
}

.img .cocoen .slide {
  height: 866px;
  z-index: 20;
}
.img .cocoen .slide__item {
  width: 100%;
  display: block;
  height: 866px;
}
.img .cocoen .slide .img__info {
  width: 280px;
  height: 217px;
  top: 30%;
  left: 0%;
  padding: 0;
  position: absolute;
  background-color: #FFF;
}
.img .cocoen .slide .img__info .img__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-left: 29px;
  padding-bottom: 32px;
}
.img .cocoen .slide .img__info .img__header .slide__img {
  width: 42px;
  height: 42px;
  display: block;
  margin-right: 7px;
}
.img .cocoen .slide .img__info .img__header .img__head {
  font-size: 1.06rem;
  line-height: 22px;
  color: #666666;
}
.img .cocoen .slide .img__info .info__btn {
  font-size: 1.06rem;
  line-height: 19px;
  color: #333333;
  background-color: transparent;
  padding: 16px 35px;
  display: block;
  margin: 0 auto;
  border: 1px solid #CECECE;
  border-radius: 40px;
  transition: 0.3s linear;
}
.img .cocoen .slide .img__info .info__btn:hover {
  background: #333333;
  color: #FFF;
  border: 1px solid transparent;
}
.img .cocoen .slide .img__right {
  width: 280px;
  height: 217px;
  top: 30%;
  right: 0;
  padding: 0;
  position: absolute;
  background-color: #FFF;
}
.img .cocoen .slide .img__right .img__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-left: 29px;
  padding-bottom: 32px;
}
.img .cocoen .slide .img__right .img__header .slide__img {
  width: 42px;
  height: 42px;
  display: block;
  margin-right: 7px;
}
.img .cocoen .slide .img__right .img__header .img__head {
  font-size: 1.06rem;
  line-height: 22px;
  color: #666666;
}
.img .cocoen .slide .img__right .info__btn {
  font-size: 1.06rem;
  line-height: 19px;
  color: #333333;
  background-color: transparent;
  padding: 16px 35px;
  display: block;
  margin: 0 auto;
  border: 1px solid #CECECE;
  border-radius: 40px;
  transition: 0.3s linear;
}
.img .cocoen .slide .img__right .info__btn:hover {
  background: #333333;
  color: #FFF;
  border: 1px solid transparent;
}
.img .cocoen-drag {
  background-color: #FF0000;
  width: 0;
  border: 1px solid #fff;
}
.img .cocoen-drag::before {
  height: 70px;
  width: 70px;
  left: -27px;
  background: url("../images/arow.png") no-repeat center;
  border: 1px solid #FF0000;
  background-color: #FF0000;
  border-radius: 50%;
  z-index: 30;
  cursor: pointer;
}

.restart {
  background-color: #F9F9F9;
}
.restart .restart__header {
  padding-top: 50px;
}
.restart .restart__header .logo {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-style: italic;
}
.restart .restart__header .logo .header__logo {
  font-size: 2.5rem;
  background-color: red;
  border-radius: 50%;
  width: 57px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}
.restart .restart__header .logo .logo__dis {
  color: #333333;
  font-size: 1.7rem;
  text-transform: uppercase;
  line-height: 66px;
}
.restart .restart__header .restart__title {
  font-size: 1.33rem;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin-bottom: 29px;
}
.restart .restart__bottom .restart__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.restart .restart__bottom .restart__row .restart__item {
  margin-right: 17px;
  background-color: #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.restart .restart__bottom .restart__row .restart__item:last-child {
  margin-right: 0;
}
.restart .restart__bottom .restart__row .restart__item .restart__top img {
  border-radius: 5px 5px 0px 0px;
}
.restart .restart__bottom .restart__row .restart__item .restart__middle {
  text-align: center;
  font-size: 1.33rem;
  line-height: 26px;
  width: 80%;
  margin: 0 auto;
  margin-top: 22px;
  padding-bottom: 17px;
  color: #333333;
  border-bottom: 1px solid #E2E2E2;
}
.restart .restart__bottom .restart__row .restart__item .restart__bottom {
  margin: 0 auto;
  margin-top: 25px;
  font-size: 1.06rem;
  line-height: 19px;
  margin-bottom: 41px;
  text-align: center;
}
.restart .restart__text {
  font-size: 1.06rem;
  line-height: 24px;
  text-align: center;
  color: #333333;
  width: 850px;
  margin: 0 auto;
  margin-top: 48px;
  padding-bottom: 80px;
}

.footer {
  position: relative;
  padding-bottom: 20px;
}
.footer .footer__nav {
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: #FFF;
  position: absolute;
  width: 1375px;
  border: 1px solid #E2E2E2;
  top: -40px;
  display: flex;
}
.footer .footer__nav .nav__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer .footer__nav .nav__item .nav__links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.06rem;
  line-height: 19px;
  color: #333333;
}
.footer .footer__nav .nav__item .nav__links:hover {
  background: #666666;
  color: #FFF;
  transition: all 0.4s ease-in-out;
}
.footer .footer__nav .nav__item .line {
  position: absolute;
  width: 50px;
  height: 0;
  right: -23px;
  border: 1px solid #E2E2E2;
  transform: rotate(90deg);
}
.footer .footer__info {
  padding-top: 69px;
  position: relative;
}
.footer .footer__info .footer__text {
  word-spacing: 1px;
  font-size: 0.93rem;
  line-height: 20px;
  color: #666666;
  padding-bottom: 10px;
  text-align: justify;
}
.footer .footer__info .copyright {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  font-size: 0.93rem;
  line-height: 20px;
  color: #666666;
}

.info {
  padding-top: 80px;
}
.info__header {
  background-color: #F8F9FA;
}
.info__header .info__title {
  font-size: 1.2rem;
  color: #333333;
  text-align: center;
  padding: 26px 40px;
  line-height: 20px;
}
.info__bottom {
  color: #666666;
}
.info__bottom .info__description {
  margin-top: 37px;
  margin-bottom: 20px;
  text-align: center;
}
.info__bottom .info__description .info__company {
  margin-bottom: 20px;
}
.info__bottom .info__image {
  overflow: hidden;
  width: 1280px;
  margin: 0 auto;
}
.info__bottom .info__image .image {
  display: block;
  transition: 0.3s linear;
}
.info__bottom .info__image .image:hover {
  transform: scale(1.1);
}
.info__bottom .info__options {
  width: 1280px;
  margin: 0 auto;
}
.info__bottom .info__options .options__title {
  margin-top: 36px;
  margin-bottom: 17px;
  font-size: 1.33rem;
  line-height: 26px;
  color: #333333;
}
.info__bottom .info__options .list__item {
  font-size: 1.06rem;
  line-height: 28px;
  color: #666666;
}

.company {
  background-color: #F9F9F9;
  padding-bottom: 101px;
}
.company .video {
  margin-top: 26px;
  margin-bottom: 45px;
  height: 300px;
  background-color: #000;
  padding-top: 120px;
}
.company .video .fancy {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: block;
}
.company .video .fancy .triengle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 0 auto;
  position: relative;
}
.company .video .fancy .triengle .link {
  border: 15px solid transparent;
  border-left: 22px solid #fff;
  display: block;
  left: 28px;
  bottom: 20px;
  position: absolute;
}
.company .wrapper .company__info {
  height: 466px;
  background-color: #FFF;
  padding: 55px 49px;
}
.company .wrapper .company__info .company__header {
  border-bottom: 1px solid #E2E2E2;
}
.company .wrapper .company__info .company__header .company__title {
  font-size: 1.33rem;
  line-height: 26px;
  margin-bottom: 17px;
}
.company .wrapper .company__info .company__header .company__description {
  font-size: 1.06rem;
  line-height: 24px;
  color: #666666;
  display: block;
  width: 821px;
  margin-bottom: 32px;
}
.company .wrapper .company__info .company__bottom {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.company .wrapper .company__info .company__bottom .company__item .company__skills {
  font-size: 1.06rem;
  line-height: 24px;
  color: #333333;
  margin-bottom: 17px;
}
.company .wrapper .company__info .company__bottom .company__item .company__skil {
  font-size: 1.06rem;
  line-height: 28px;
  color: #666666;
}
.company .wrapper .company__about {
  margin-top: 63px;
  display: flex;
  justify-content: space-around;
}
.company .wrapper .company__about .company__top .company__job {
  display: flex;
  justify-content: space-between;
}
.company .wrapper .company__about .company__top .company__job .check {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 24px;
}
.company .wrapper .company__about .company__top .company__job .check__description {
  font-size: 1.06rem;
  line-height: 24px;
  color: #333333;
  width: 532px;
  margin-bottom: 30px;
}
.company .wrapper .company__ready {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.company .wrapper .company__ready .company__left {
  background-image: url("../images/company/Mask Group.png");
  width: 100%;
  height: 175px;
  background-repeat: no-repeat;
}
.company .wrapper .company__ready .company__rigth {
  position: absolute;
  width: 807px;
  margin-top: 34px;
  left: 40%;
}
.company .wrapper .company__ready .company__rigth .ready__text {
  font-size: 1.06rem;
  line-height: 24px;
  margin-bottom: 17px;
  text-align: justify;
  color: #333333;
}
.company .wrapper .company__ready .company__rigth .ready__btn {
  padding: 16px 25px;
  background-color: #FFF;
  border-radius: 50px;
  font-size: 1.06rem;
  line-height: 19px;
  border: 1px solid #CECECE;
  color: #333333;
  transition: 0.3s linear;
}
.company .wrapper .company__ready .company__rigth .ready__btn:hover {
  background: #333333;
  color: #FFF;
  border: 1px solid transparent;
}
.company .wrapper .company__ready .company__rigth .ready__btn:focus {
  border: 2px solid #CECECE;
}

.categories {
  margin-top: 101px;
}
.categories .categories__title {
  text-align: center;
  font-size: 1.33rem;
  line-height: 26px;
  color: #333333;
  margin-bottom: 35px;
}
.categories .categories__row {
  display: flex;
  justify-content: center;
}
.categories .categories__row .categories__item {
  width: 332px;
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  margin-right: 10px;
}
.categories .categories__row .categories__item .categories__top {
  overflow: hidden;
}
.categories .categories__row .categories__item .categories__middle {
  text-align: center;
  font-size: 1.33rem;
  line-height: 26px;
  width: 80%;
  margin: 0 auto;
  margin-top: 22px;
  padding-bottom: 17px;
  color: #333333;
  border-bottom: 1px solid #E2E2E2;
}
.categories .categories__row .categories__item .categories__bottom {
  margin: 0 auto;
  margin-top: 25px;
  font-size: 1.06rem;
  line-height: 19px;
  margin-bottom: 29px;
  text-align: center;
}
.categories .categories__row .categories__item .categories__bottom a {
  color: #00A8FF;
}
.categories .categories__row .categories__item:last-child {
  margin-right: 0;
}
.categories .categories__row .categories__text {
  width: 332px;
  margin-right: 10px;
  margin-top: 20px;
}
.categories .categories__row .categories__text .categories__description {
  font-size: 0.93rem;
  line-height: 22px;
  color: #666666;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}
.categories .categories__row .categories__text .categories__description .categories__link {
  color: #00A8FF;
}
.categories .categories__row .categories__text:last-child {
  margin-right: 0;
}

.address {
  background-color: #F9F9F9;
  padding-top: 85px;
}
.address .address__title {
  font-size: 1.33rem;
  line-height: 26px;
  color: #333333;
}
.address .address__row {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.address .address__row .address__item .address__top {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.address .address__row .address__item .address__top .image {
  width: 25px;
  height: 25px;
  background-color: #27AE60;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.address .address__row .address__item .address__top .image img {
  width: 18px;
  height: 18px;
}
.address .address__row .address__item .address__bottom {
  width: 660px;
  border: 1px solid #CECECE;
  border-radius: 5px 5px 5px 5px;
}
.address .address__row .address__item .address__bottom .address__street {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #CECECE;
  padding: 0px 20px 0px 20px;
}
.address .address__row .address__item .address__bottom .address__street .address__left h3 {
  font-size: 1.2rem;
  line-height: 20px;
  color: #333333;
  margin-top: 29px;
  margin-bottom: 5px;
}
.address .address__row .address__item .address__bottom .address__street .address__left h3 span {
  display: inline-block;
  width: 1px;
  height: 1rem;
  background-color: #E5E5E5;
}
.address .address__row .address__item .address__bottom .address__street .address__left p {
  font-size: 0.93rem;
  line-height: 16px;
  color: #666666;
  margin-bottom: 27px;
}
.address .address__row .address__item .address__bottom .address__street .address__right .address__btn {
  font-size: 1.06rem;
  line-height: 19px;
  color: #333333;
  padding: 16px 29px;
  background-color: #fff;
  border: 1px solid #CECECE;
  border-radius: 40px;
  transition: 0.4s linear;
}
.address .address__row .address__item .address__bottom .address__street .address__right .address__btn:hover {
  background: #333333;
  color: #FFF;
}
.address .address__row .address__item .address__bottom .address__street .address__right .address__btn:focus {
  border: 2px solid #CECECE;
}
.address .address__row .address__item .address__bottom .address__street:last-child {
  border-bottom: none;
}

.road {
  background-color: #F9F9F9;
  padding-top: 60px;
  padding-bottom: 100px;
}
.road .road__title {
  font-size: 1.33rem;
  line-height: 26px;
  color: #333333;
}
.road .road__row {
  display: flex;
  align-items: center;
}
.road .road__row .road__item {
  margin-right: 41px;
}
.road .road__row .road__item .road__city {
  font-size: 1.06rem;
  line-height: 19px;
  color: #666666;
  margin-bottom: 7px;
  margin-top: 38px;
}
.road .road__row .road__item .road__block {
  background-color: #FFF;
  width: 426px;
  position: relative;
}
.road .road__row .road__item .road__block .fancy {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  z-index: 30;
}
.road .road__row .road__item .road__block .road__video {
  display: block;
  margin: 0 auto;
  padding: 29px 103px;
}
.road .road__row .road__item .road__block .road__play {
  width: 68px;
  height: 46px;
  background-color: rgba(40, 41, 40, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 42%;
}
.road .road__row .road__item:last-child {
  margin-right: 0;
}

.form {
  background-color: #F9F9F9;
  padding-bottom: 90px;
}
.form .form__image {
  background-image: url("../images/shop/form.jpg");
  background-repeat: no-repeat;
  height: 537px;
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 1;
  border-radius: 8px;
  /* etiqueta <p> con la opcion selecionada  */
}
.form .form__image:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(87.2deg, rgba(0, 0, 0, 0.6) 34.43%, rgba(0, 0, 0, 0.594812) 37.13%, rgba(0, 0, 0, 0.578694) 39.83%, rgba(0, 0, 0, 0.551004) 42.53%, rgba(0, 0, 0, 0.511553) 45.23%, rgba(0, 0, 0, 0.460935) 47.93%, rgba(0, 0, 0, 0.40087) 50.63%, rgba(0, 0, 0, 0.334385) 53.33%, rgba(0, 0, 0, 0.265615) 56.03%, rgba(0, 0, 0, 0.19913) 58.73%, rgba(0, 0, 0, 0.139065) 61.43%, rgba(0, 0, 0, 0.0884468) 64.13%, rgba(0, 0, 0, 0.0489959) 66.83%, rgba(0, 0, 0, 0.021306) 69.53%, rgba(0, 0, 0, 0.00518832) 72.23%, rgba(0, 0, 0, 0) 74.93%);
}
.form .form__image .form__title h2 {
  font-size: 3.2rem;
  line-height: 65px;
  font-weight: bold;
  color: #FFF;
  width: 701px;
  padding: 137px 0px 0px 36px;
}
.form .form__image .form__title {
  z-index: 20;
}
.form .form__image .select {
  margin-left: 26px;
  margin-right: 26px;
}
.form .form__image .icon_select_mate {
  position: absolute;
  top: 30%;
  right: 2%;
  font-size: 16px;
  height: 22px;
  transition: all 275ms;
}
.form .form__image .your__city {
  padding-top: 20px;
}
.form .form__image .select_mate {
  position: relative;
  width: 350px;
  height: 50px;
  font-family: "Roboto";
  color: #777;
  font-size: 1.1rem;
  font-weight: 300;
  background-color: #fff;
  border: 1px solid #E6E6E6;
  transition: all 375ms ease-in-out;
  /* Oculto el elemento select */
}
.form .form__image .select_mate select {
  position: absolute;
  overflow: hidden;
  height: 0px;
  opacity: 0;
  z-index: -1;
}
.form .form__image .selecionado_opcion {
  padding: 15px 2.5%;
  width: 100%;
  display: block;
  margin: 0px;
  cursor: pointer;
}
.form .form__image .cont_list_select_mate {
  position: relative;
  float: left;
  width: 100%;
}
.form .form__image .cont_select_int {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background-color: #fff;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
  transition: all 375ms ease-in-out;
}
.form .form__image .cont_select_int li {
  position: relative;
  float: left;
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  background-color: #fff;
  list-style-type: none;
  padding: 10px 2%;
  margin: 0px;
  transition: all 275ms ease-in-out;
  display: block;
  cursor: pointer;
}
.form .form__image .cont_select_int li:last-child {
  border-radius: 3px;
  border-bottom: 0px;
}
.form .form__image .cont_select_int li:hover {
  background-color: #EEEEEE;
}
.form .form__image .cont_select_int .active {
  background-color: #EEEEEE;
}
.form .form__image .form__contact {
  background-color: #FFF;
  margin: 36px 75px;
  height: 466px;
  border-radius: 8px;
  z-index: 10;
}
.form .form__image .form__contact .form__header .form__info {
  font-size: 1.2rem;
  line-height: 21px;
  color: #333333;
  padding: 34px 28px;
  margin: 0 auto;
}
.form .form__image .form__contact .form__header span {
  display: block;
  width: 350px;
  height: 1px;
  background-color: #EBEBEB;
  margin: 0 auto;
}
.form .form__image .form__contact .form__name {
  margin-top: 25px;
  padding-left: 26px;
  padding-right: 26px;
}
.form .form__image .form__contact .form__name .your__name {
  margin-bottom: 7px;
  font-size: 0.93rem;
  color: #333333;
}
.form .form__image .form__contact .form__phone,
.form .form__image .form__contact .form__city {
  margin-top: 20px;
  padding-left: 26px;
  padding-right: 26px;
}
.form .form__image .form__contact .your__phone,
.form .form__image .form__contact .your__city {
  margin-bottom: 7px;
  font-size: 0.93rem;
  color: #333333;
}
.form .form__image .form__contact .your__name span,
.form .form__image .form__contact .your__phone span,
.form .form__image .form__contact .your__city span {
  color: red;
}
.form .form__image .form__contact .name {
  width: 350px;
  height: 50px;
  padding: 16px 0px 13px 12px;
  border-radius: 2px;
  border: 1px solid #E6E6E6;
  transition: 0.3s linear;
}
.form .form__image .form__contact .name:focus {
  border: 1px solid #27AE60;
}
.form .form__image .form__contact .form__send {
  margin-top: 15px;
  margin-left: 26px;
  margin-right: 26px;
}
.form .form__image .form__contact .form__send .form__btn {
  margin: 0 auto;
  display: block;
  padding: 17px 45px;
  color: #FFF;
  background: #27AE60;
  border-radius: 3px;
  width: 100%;
  transition: 0.4s linear;
}
.form .form__image .form__contact .form__send .form__btn:hover {
  background: #2EBF6B;
}

.services {
  background-color: #F9F9F9;
  padding-bottom: 116px;
}
.services .services__title {
  font-size: 1.33rem;
  line-height: 26px;
  color: #333333;
  margin-bottom: 18px;
}
.services .services__box {
  background-color: #FFF;
  padding: 38px 40px;
  border-radius: 5px;
}
.services .services__box .services__row {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 90px;
  border-bottom: 1px solid #E2E2E2;
}
.services .services__box .services__row .footer__link {
  color: #00A8FF;
}
.services .services__box .services__row:last-child {
  border-bottom: none;
}
.services .services__box .services__row:nth-child(2) {
  margin-top: 20px;
}
.services .services__box .services__row:nth-child(3) {
  margin-top: 20px;
  padding-bottom: 20px;
}
.services .services__box .services__row:nth-child(3) .services__item {
  margin-bottom: 30px;
}
.services .services__box .services__row:nth-child(3) .services__footer {
  margin-bottom: 0;
}
.services .services__box .services__row .services__item h3 {
  font-size: 1.06rem;
  line-height: 26px;
  color: #333333;
  margin-bottom: 10px;
  font-weight: bold;
}
.services .services__box .services__row .services__item .services__link {
  font-size: 1.06rem;
  line-height: 28px;
  color: #666666;
}
.services .services__box .services__row .services__item:nth-child(odd) ul {
  margin-top: 35px;
}
.services .services__box .services__row .services__item:nth-child(even) ul {
  margin-top: 35px;
}
.services .services__box .services__row .services__item:first-child ul {
  margin-top: 0;
}
.services .services__box .services__row .services__footer {
  position: absolute;
  bottom: 0;
  display: block;
  font-size: 1.06rem;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333333;
}

.swal-modal .swal-title {
  font-size: 1.2rem;
  line-height: 24px;
  color: #333333;
}

.contact {
  padding-top: 100px;
}
.contact .contact__inner {
  display: flex;
  justify-content: space-between;
}
.contact .contact__inner .contact__item:last-child {
  width: 1000px;
  margin-left: 50px;
}
.contact .contact__inner .contact__item .map {
  width: 100%;
  height: 550px;
}
.contact .contact__inner .contact__item .contact__title {
  margin-bottom: 40px;
  font-size: 1.33rem;
  line-height: 26px;
  color: #333333;
}
.contact .contact__inner .contact__item .contact__header {
  margin-bottom: 37px;
}
.contact .contact__inner .contact__item .contact__header a {
  color: #00A8FF;
}
.contact .contact__inner .contact__item .contact__header .adress {
  font-size: 1.06rem;
  line-height: 24px;
  color: #333333;
}
.contact .contact__inner .contact__item .contact__header .adress__link {
  font-size: 1.06rem;
  line-height: 24px;
}
.contact .contact__inner .contact__item .contact__middle {
  margin-bottom: 37px;
}
.contact .contact__inner .contact__item .contact__mail {
  margin-bottom: 37px;
  line-height: 24px;
}
.contact .contact__inner .contact__item .contact__mail a {
  color: #00A8FF;
}
.contact .contact__inner .contact__item .number {
  font-size: 1.06rem;
  line-height: 24px;
  color: #333333;
}
.contact .contact__inner .contact__item .viber {
  color: #7360f2;
}
.contact .contact__inner .contact__item .text {
  color: #666666;
}
.contact .contact__inner .contact__item:nth-child(2) {
  position: relative;
  overflow: hidden;
}
.contact .contact__inner .contact__item:nth-child(2) .little {
  position: absolute;
  left: 20px;
  top: 20px;
}

.bgc {
  background-color: #F9F9F9;
  padding-top: 50px;
  padding-bottom: 50px;
}

.parts .parts__title {
  font-size: 1.33rem;
  padding-top: 100px;
  margin-bottom: 42px;
  line-height: 26px;
  color: #333333;
}
.parts .parts__name {
  font-size: 1.33rem;
  padding-top: 20px;
  margin-bottom: 42px;
  line-height: 26px;
  color: #333333;
}
.parts .parts__inner .parts__header {
  display: flex;
  justify-content: space-between;
}
.parts .parts__inner .parts__header .parts__item {
  width: 190px;
}
.parts .parts__inner .parts__header .parts__item .border {
  border-radius: 50%;
  border: 1px solid red;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 16px;
  position: relative;
}
.parts .parts__inner .parts__header .parts__item .border .parts__img {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 15px;
  bottom: 15px;
}
.parts .parts__inner .parts__header .parts__item .parts__description {
  text-align: center;
  font-size: 1.06rem;
  line-height: 22px;
  color: #333333;
}
.parts .parts__inner .parts__middle {
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.parts .parts__inner .parts__middle:last-child {
  margin-bottom: 50px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .header {
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: #E5E5E5;
    z-index: 20;
  }
  .header .header__inner {
    position: relative;
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    height: 80px;
    width: 100%;
    z-index: 10;
  }
  .header .header__inner .header__discription {
    display: block;
    text-align: center;
    font-size: 1.06rem;
    line-height: 24px;
  }
  .header .header__inner .logo {
    margin-right: 5px;
  }
  .header .header__inner .logo .header__logo {
    font-size: 1.8rem;
    width: 47px;
    height: 47px;
  }
  .header .header__inner .logo .logo__dis {
    font-size: 1.2rem;
    line-height: 55px;
  }
  .header .header__inner .header__burger {
    display: block;
    position: relative;
    width: 35px;
    height: 20px;
    z-index: 6;
  }
  .header .header__inner .header__burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #333333;
    left: 0;
    bottom: 0;
    transition: all 0.2s linear 0s;
  }
  .header .header__inner .header__burger:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #333333;
    top: 0;
    transition: all 0.2s linear 0s;
  }
  .header .header__inner .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header .header__inner .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header .header__inner .header__burger.active span {
    transform: scale(0);
  }
  .header .header__inner .header__burger span {
    position: absolute;
    background-color: #333333;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.2s linear 0s;
  }
  .header .header__nav {
    left: 0;
    bottom: -80px;
    margin: 0 auto;
    width: 100%;
    transition: all 0.2s linear 0s;
    overflow: auto;
  }
  .header .header__nav .nav__item {
    width: 100%;
  }

  .info {
    padding-top: 100px;
  }
  .info .wrapper .info__header {
    width: 100%;
  }
  .info .wrapper .info__image {
    width: 100%;
  }
  .info .wrapper .info__options {
    width: 100%;
  }

  .categories {
    margin-top: 0;
    padding-top: 90px;
  }
  .categories .wrapper .categories__row {
    display: flex;
    flex-wrap: wrap;
  }
  .categories .wrapper .categories__row .categories__item {
    margin: 10px;
  }

  .address {
    padding-top: 30px;
  }
  .address .address__title {
    text-align: center;
  }
  .address .address__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .address .address__row .address__item {
    margin: 10px;
  }

  .road {
    padding-top: 30px;
  }
  .road .road__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .road .road__row .road__item .road__block .road__video {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .company .wrapper .company__info {
    height: auto;
  }
  .company .wrapper .company__about {
    display: flex;
    flex-wrap: wrap;
  }
  .company .wrapper .company__ready .company__rigth {
    width: auto;
    margin-top: 25px;
  }

  .img {
    background-color: #E5E5E5;
  }

  .parts .parts__title {
    text-align: center;
  }
  .parts .parts__name {
    text-align: center;
  }
  .parts .parts__inner .parts__middle {
    height: auto;
    width: 100%;
  }
  .parts .parts__inner .parts__middle img {
    width: 100%;
  }

  .restart .restart__bottom .restart__row {
    display: flex;
    flex-wrap: wrap;
  }
  .restart .restart__bottom .restart__row .restart__item {
    margin: 10px;
  }
  .restart .restart__bottom .restart__row .restart__item .restart__top img {
    width: 100%;
  }
  .restart .restart__text {
    width: 100%;
    padding-bottom: 20px;
  }

  .footer .footer__nav {
    width: 1000px;
    bottom: -80px;
    display: none;
  }
  .footer .footer__nav .nav__item {
    width: 100%;
  }
  .footer .footer__nav .nav__item .nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer .footer__info {
    padding-top: 20px;
  }
  .footer .footer__info .footer__text {
    padding-bottom: 30px;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .header {
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: #E5E5E5;
    z-index: 20;
  }
  .header .header__inner {
    position: relative;
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    height: 80px;
    width: 100%;
    z-index: 10;
  }
  .header .header__inner .header__discription {
    display: block;
    text-align: center;
    font-size: 1.06rem;
    line-height: 24px;
  }
  .header .header__inner .logo {
    margin-right: 5px;
  }
  .header .header__inner .logo .header__logo {
    font-size: 1.8rem;
    width: 47px;
    height: 47px;
  }
  .header .header__inner .logo .logo__dis {
    font-size: 1.2rem;
    line-height: 55px;
  }
  .header .header__inner .header__burger {
    display: block;
    position: relative;
    width: 35px;
    height: 20px;
    z-index: 6;
  }
  .header .header__inner .header__burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #333333;
    left: 0;
    bottom: 0;
    transition: all 0.2s linear 0s;
  }
  .header .header__inner .header__burger:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #333333;
    top: 0;
    transition: all 0.2s linear 0s;
  }
  .header .header__inner .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header .header__inner .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header .header__inner .header__burger.active span {
    transform: scale(0);
  }
  .header .header__inner .header__burger span {
    position: absolute;
    background-color: #333333;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.2s linear 0s;
  }
  .header .header__nav {
    left: 0;
    bottom: -80px;
    margin: 0 auto;
    width: 100%;
    transition: all 0.2s linear 0s;
    overflow: auto;
  }
  .header .header__nav .nav__item {
    width: 100%;
  }

  .img {
    display: none;
  }

  .categories {
    margin-top: 0;
    padding-top: 90px;
  }
  .categories .wrapper .categories__row {
    display: flex;
    flex-wrap: wrap;
  }
  .categories .wrapper .categories__row .categories__item {
    margin: 10px;
  }

  .address {
    padding-top: 30px;
  }
  .address .address__title {
    text-align: center;
  }
  .address .address__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .road {
    padding-top: 30px;
  }
  .road .road__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .road .road__row .road__item .road__block .road__video {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .form .form__image {
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .form .form__image:before {
    border-radius: 10px 10px 10px 10px;
  }
  .form .form__image .form__title h2 {
    padding: 0;
    padding: 10px;
    display: block;
    font-size: 2rem;
    width: 100%;
    line-height: 40px;
  }
  .form .form__image .form__contact {
    margin: 0 auto;
    height: auto;
    margin-bottom: 20px;
  }
  .form .form__image .form__contact .form__header span {
    width: 80%;
  }
  .form .form__image .form__contact .name {
    width: 100%;
  }
  .form .form__image .form__contact .form__send {
    margin-bottom: 20px;
  }

  .services {
    padding-bottom: 30px;
  }
  .services .services__box .services__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .services .services__box .services__row .services__footer {
    margin-bottom: 0;
  }
  .services .services__box .services__row .services__footer:last-child {
    margin-top: 70px;
  }
  .services .services__box .services__row:last-child {
    padding-bottom: 70px;
  }

  .info {
    padding-top: 100px;
  }
  .info .info__image {
    width: 100%;
  }
  .info .info__options {
    width: 100%;
  }

  .company .wrapper .company__info {
    height: auto;
  }
  .company .wrapper .company__about {
    display: flex;
    flex-wrap: wrap;
  }
  .company .wrapper .company__ready .company__rigth {
    width: 570px;
    margin-top: 25px;
  }

  .img {
    background-color: #E5E5E5;
  }

  .parts .parts__title {
    text-align: center;
  }
  .parts .parts__name {
    text-align: center;
  }
  .parts .parts__inner .parts__middle {
    height: auto;
    width: 100%;
  }
  .parts .parts__inner .parts__middle img {
    width: 100%;
  }

  .restart .restart__bottom .restart__row {
    display: flex;
    flex-wrap: wrap;
  }
  .restart .restart__bottom .restart__row .restart__item {
    margin: 10px;
  }
  .restart .restart__bottom .restart__row .restart__item .restart__top img {
    width: 100%;
  }
  .restart .restart__text {
    width: 100%;
    padding-bottom: 20px;
  }

  .footer .footer__nav {
    width: 1000px;
    bottom: -80px;
    display: none;
  }
  .footer .footer__nav .nav__item {
    width: 100%;
  }
  .footer .footer__nav .nav__item .nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer .footer__info {
    padding-top: 20px;
  }
  .footer .footer__info .footer__text {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: #E5E5E5;
    z-index: 20;
  }
  .header .header__inner {
    position: relative;
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    height: 80px;
    width: 100%;
    z-index: 10;
  }
  .header .header__inner .header__discription {
    display: block;
    text-align: center;
    font-size: 1.06rem;
    line-height: 24px;
  }
  .header .header__inner .logo {
    margin-right: 5px;
  }
  .header .header__inner .logo .header__logo {
    font-size: 1.8rem;
    width: 47px;
    height: 47px;
  }
  .header .header__inner .logo .logo__dis {
    font-size: 1.2rem;
    line-height: 55px;
  }
  .header .header__inner .header__burger {
    display: block;
    position: relative;
    width: 35px;
    height: 20px;
    z-index: 6;
  }
  .header .header__inner .header__burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #333333;
    left: 0;
    bottom: 0;
    transition: all 0.2s linear 0s;
  }
  .header .header__inner .header__burger:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #333333;
    top: 0;
    transition: all 0.2s linear 0s;
  }
  .header .header__inner .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header .header__inner .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header .header__inner .header__burger.active span {
    transform: scale(0);
  }
  .header .header__inner .header__burger span {
    position: absolute;
    background-color: #333333;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.2s linear 0s;
  }
  .header .header__nav {
    border: none;
    left: 0;
    display: block;
    height: 400px;
    bottom: -400px;
    left: -100%;
    width: 100%;
    transition: all 0.2s linear 0s;
    overflow: auto;
  }
  .header .header__nav.active {
    top: 80px;
    left: 0;
    background-color: #E5E5E5;
    transition: all 0.2s linear 0s;
    z-index: 1;
  }
  .header .header__nav .nav__item {
    width: 100%;
  }
  .header .header__nav .nav__item:first-child {
    border-top: 1px solid #333333;
  }
  .header .header__nav .nav__item .nav__links {
    padding-bottom: 20px;
    border-bottom: 1px solid #333333;
  }

  .img {
    display: none;
  }

  .info {
    padding-top: 100px;
  }
  .info .info__bottom .info__image {
    width: 100%;
  }
  .info .info__bottom .info__image .image {
    display: block;
    width: 100%;
  }
  .info .info__bottom .info__options {
    width: 100%;
  }

  .company .wrapper .company__info {
    height: auto;
    padding: 0;
    padding: 10px;
  }
  .company .wrapper .company__info .company__header .company__description {
    width: 100%;
  }
  .company .wrapper .company__info .company__bottom {
    display: flex;
    flex-wrap: wrap;
  }
  .company .wrapper .company__info .company__bottom .company__item {
    width: 100%;
    margin-bottom: 10px;
  }
  .company .wrapper .company__about {
    display: flex;
    flex-wrap: wrap;
  }
  .company .wrapper .company__about .company__top .company__job .check__description {
    width: 100%;
  }
  .company .wrapper .company__ready .company__rigth {
    width: 100%;
    margin: 5px;
    left: 0;
  }
  .company .wrapper .company__ready .company__rigth .ready__text {
    padding-right: 10px;
    width: 100%;
    text-align: center;
  }
  .company .wrapper .company__ready .company__rigth .ready__btn {
    margin: 0 auto;
    display: block;
  }

  .categories {
    margin-top: 0;
    padding-top: 90px;
  }
  .categories .wrapper .categories__row {
    display: flex;
    flex-wrap: wrap;
  }
  .categories .wrapper .categories__row .categories__item {
    margin: 10px;
  }

  .address {
    padding-top: 30px;
  }
  .address .address__row {
    display: flex;
    flex-wrap: wrap;
  }
  .address .address__row .address__item {
    width: 100%;
  }
  .address .address__row .address__item .address__bottom {
    width: 100%;
    margin-bottom: 20px;
  }

  .road {
    padding-top: 30px;
  }
  .road .road__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .road .road__row .road__item .road__block .road__video {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .form .form__image {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .form .form__image:before {
    border-radius: 10px 10px 10px 10px;
  }
  .form .form__image .select_mate {
    width: 100%;
  }
  .form .form__image .form__title h2 {
    padding: 0;
    padding: 10px;
    display: block;
    font-size: 2rem;
    width: 100%;
    line-height: 40px;
  }
  .form .form__image .form__contact {
    margin: 0 auto;
    height: auto;
    width: 100%;
  }
  .form .form__image .form__contact .form__header span {
    width: 80%;
  }
  .form .form__image .form__contact .name {
    width: 100%;
  }
  .form .form__image .form__contact .form__send {
    margin-bottom: 20px;
  }

  .services {
    padding-bottom: 30px;
  }
  .services .services__box .services__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .services .services__box .services__row .services__footer {
    margin-bottom: 0;
  }
  .services .services__box .services__row .services__footer:last-child {
    margin-top: 70px;
  }
  .services .services__box .services__row:last-child {
    padding-bottom: 70px;
  }

  .parts .parts__title {
    text-align: center;
  }
  .parts .parts__name {
    text-align: center;
  }
  .parts .parts__inner .parts__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .parts .parts__inner .parts__header .parts__item {
    margin: 10px;
  }
  .parts .parts__inner .parts__middle {
    height: auto;
    width: 100%;
  }
  .parts .parts__inner .parts__middle img {
    width: 100%;
  }

  .restart {
    padding-top: 50px;
  }
  .restart .restart__bottom .restart__row {
    display: flex;
    flex-wrap: wrap;
  }
  .restart .restart__bottom .restart__row .restart__item {
    margin: 10px;
  }
  .restart .restart__bottom .restart__row .restart__item .restart__top img {
    width: 100%;
  }
  .restart .restart__text {
    width: 100%;
    padding-bottom: 20px;
  }

  .footer .footer__nav {
    display: none;
  }
  .footer .footer__info {
    padding-top: 20px;
  }
  .footer .footer__info .footer__text {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: #E5E5E5;
    z-index: 20;
  }
  .header .header__inner {
    position: relative;
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    height: 80px;
    width: 100%;
    z-index: 10;
  }
  .header .header__inner .header__discription {
    display: block;
    text-align: center;
    font-size: 1.06rem;
    line-height: 24px;
  }
  .header .header__inner .logo {
    margin-right: 5px;
  }
  .header .header__inner .logo .header__logo {
    font-size: 1.8rem;
    width: 47px;
    height: 47px;
  }
  .header .header__inner .logo .logo__dis {
    font-size: 1.2rem;
    line-height: 55px;
  }
  .header .header__inner .header__burger {
    display: block;
    position: relative;
    width: 35px;
    height: 20px;
    z-index: 6;
  }
  .header .header__inner .header__burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #333333;
    left: 0;
    bottom: 0;
    transition: all 0.2s linear 0s;
  }
  .header .header__inner .header__burger:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #333333;
    top: 0;
    transition: all 0.2s linear 0s;
  }
  .header .header__inner .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header .header__inner .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header .header__inner .header__burger.active span {
    transform: scale(0);
  }
  .header .header__inner .header__burger span {
    position: absolute;
    background-color: #333333;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.2s linear 0s;
  }
  .header .header__nav {
    border: none;
    left: 0;
    display: block;
    height: 400px;
    bottom: -400px;
    left: -100%;
    width: 100%;
    transition: all 0.2s linear 0s;
    overflow: auto;
  }
  .header .header__nav.active {
    top: 80px;
    left: 0;
    background-color: #E5E5E5;
    transition: all 0.2s linear 0s;
    z-index: 1;
  }
  .header .header__nav .nav__item {
    width: 100%;
  }
  .header .header__nav .nav__item:first-child {
    border-top: 1px solid #333333;
  }
  .header .header__nav .nav__item .nav__links {
    padding-bottom: 20px;
    border-bottom: 1px solid #333333;
  }

  .info {
    padding-top: 100px;
  }
  .info .info__bottom .info__image {
    width: 100%;
  }
  .info .info__bottom .info__image .image {
    display: block;
    width: 100%;
  }
  .info .info__bottom .info__options {
    width: 100%;
  }

  .company .wrapper .company__info {
    height: auto;
    padding: 0;
    padding: 10px;
  }
  .company .wrapper .company__info .company__header .company__description {
    width: 100%;
  }
  .company .wrapper .company__info .company__bottom {
    display: flex;
    flex-wrap: wrap;
  }
  .company .wrapper .company__info .company__bottom .company__item {
    width: 100%;
    margin-bottom: 10px;
  }
  .company .wrapper .company__about {
    display: flex;
    flex-wrap: wrap;
  }
  .company .wrapper .company__about .company__top .company__job .check__description {
    width: 100%;
  }

  .categories {
    margin-top: 0;
    padding-top: 90px;
  }
  .categories .wrapper .categories__row {
    display: flex;
    flex-wrap: wrap;
  }
  .categories .wrapper .categories__row .categories__item {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .categories .wrapper .categories__row .categories__item .categories__top {
    width: 100%;
  }
  .categories .wrapper .categories__row .categories__item .categories__top img {
    width: 100%;
  }

  .address {
    padding-top: 30px;
  }
  .address .address__row {
    display: flex;
    flex-wrap: wrap;
  }
  .address .address__row .address__item {
    width: 100%;
  }
  .address .address__row .address__item .address__bottom {
    width: 100%;
    margin-bottom: 20px;
  }

  .road {
    padding-top: 30px;
  }
  .road .road__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .road .road__row .road__item {
    margin-right: 0;
    width: 100%;
  }
  .road .road__row .road__item .road__block {
    width: 100%;
  }
  .road .road__row .road__item .road__block .road__video {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .form .form__image {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .form .form__image:before {
    border-radius: 10px 10px 10px 10px;
  }
  .form .form__image .form__title h2 {
    padding: 0;
    padding: 10px;
    display: block;
    font-size: 2rem;
    width: 100%;
    line-height: 40px;
  }
  .form .form__image .form__select {
    width: 100%;
  }
  .form .form__image .form__contact {
    margin: 0 auto;
    height: auto;
    width: 100%;
  }
  .form .form__image .form__contact .form__header span {
    width: 80%;
  }
  .form .form__image .form__contact .name {
    width: 100%;
  }
  .form .form__image .form__contact .form__send {
    margin-bottom: 20px;
  }

  .services {
    padding-bottom: 30px;
  }
  .services .services__box .services__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .services .services__box .services__row .services__footer {
    margin-bottom: 0;
  }
  .services .services__box .services__row .services__footer:last-child {
    margin-top: 70px;
  }
  .services .services__box .services__row:last-child {
    padding-bottom: 70px;
  }

  .parts .parts__title {
    text-align: center;
  }
  .parts .parts__name {
    text-align: center;
  }
  .parts .parts__inner .parts__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .parts .parts__inner .parts__header .parts__item {
    width: 100%;
    margin: 10px;
  }
  .parts .parts__inner .parts__middle {
    height: auto;
    width: 100%;
  }
  .parts .parts__inner .parts__middle img {
    width: 100%;
  }

  .contact .contact__inner {
    display: flex;
    flex-wrap: wrap;
  }
  .contact .contact__inner .contact__item {
    width: 100%;
    text-align: center;
  }
  .contact .contact__inner .contact__item:last-child {
    margin-left: 0;
    margin-top: 30px;
  }

  .img {
    display: none;
  }

  .restart {
    padding-top: 50px;
  }
  .restart .restart__bottom .restart__row {
    display: flex;
    flex-wrap: wrap;
  }
  .restart .restart__bottom .restart__row .restart__item {
    margin: 10px;
  }
  .restart .restart__bottom .restart__row .restart__item .restart__top img {
    width: 100%;
  }
  .restart .restart__text {
    width: 100%;
    padding-bottom: 20px;
  }

  .footer .footer__nav {
    display: none;
  }
  .footer .footer__info {
    padding-top: 20px;
  }
  .footer .footer__info .footer__text {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 767px) and (max-width: 450px) {
  .header .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .header__inner .header__discription {
    display: none;
  }

  .company .wrapper .company__ready .company__rigth .ready__text {
    display: none;
  }
  .company .wrapper .company__ready .company__rigth .ready__btn {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
  }

  .restart {
    padding-top: 50px;
  }
  .restart .restart__bottom .restart__row {
    display: flex;
    flex-wrap: wrap;
  }
  .restart .restart__bottom .restart__row .restart__item {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .restart .restart__bottom .restart__row .restart__item .restart__top img {
    width: 100%;
  }
  .restart .restart__text {
    width: 100%;
    padding-bottom: 20px;
  }
}