@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Brushwell";
  src: url("fonts/Brushwell/Brushwell.eot");
  src: url("fonts/Brushwell/Brushwell.woff") format("woff"), url("fonts/Brushwell/Brushwell.ttf") format("truetype"), url("fonts/Brushwell/Brushwell.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LouisGeorgeCafe";
  src: url("fonts/LouisGeorgeCafe/LouisGeorgeCafe.eot");
  src: url("fonts/LouisGeorgeCafe/LouisGeorgeCafe.woff") format("woff"), url("fonts/LouisGeorgeCafe.ttf") format("truetype"), url("fonts/LouisGeorgeCafe.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RedVelvet";
  src: url("fonts/RedVelvet/RedVelvet-Regular.eot");
  src: url("fonts/RedVelvet/RedVelvet-Regular.woff") format("woff"), url("fonts/RedVelvet-Regular.ttf") format("truetype"), url("fonts/RedVelvet-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 15px;
}

body {
  margin: 0;
  font-size: 1rem;
  color: #000000;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  padding: 2rem 0;
  position: relative;
  background: url("../images/header/BG.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
}
.header__inner .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner .nav__link {
  color: #ffffff;
  font-family: "LouisGeorgeCafe";
  font-size: 1.27rem;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}
.header__inner .nav__link:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: -10px;
  right: 0;
  z-index: 1;
  transition: width 0.2s linear;
}
.header__inner .nav__link:hover:after {
  width: 100%;
}
.header__inner .nav__search {
  background-color: transparent;
  background-image: url("../images/header/Search.svg");
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 0px 20px;
  font-family: "LouisGeorgeCafe";
  font-size: 1rem;
  width: 10%;
}
.header .header__slider {
  padding-top: 150px;
}
.header .header__slider .header__slides .slider__img {
  width: 119px;
  height: 119px;
  margin: 0 auto;
  background-image: url("/images/header/logimg.svg");
}
.header .header__slider .header__slides .slider__name {
  text-align: center;
  color: #ffffff;
}
.header .header__slider .header__slides .slider__name h2 {
  font-family: "Brushwell";
  font-size: 5rem;
  padding-bottom: 10px;
}
.header .header__slider .header__slides .slider__name span {
  width: 351px;
  height: 1px;
  display: block;
  margin: 0 auto;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.header .header__slider .header__slides .slider__title {
  text-align: center;
  color: #ffffff;
}
.header .header__slider .header__slides .slider__title h1 {
  font-size: 4.4rem;
  font-family: "RedVelvet";
  padding-bottom: 31px;
}
.header .header__slider .header__slides .slider__title p {
  font-size: 1.25rem;
  line-height: 30px;
  margin: 0 auto;
  font-family: "LouisGeorgeCafe";
}
.header .header__social {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 3%;
  top: 40%;
}
.header .header__social .social__link {
  margin-bottom: 42px;
  padding-bottom: 5px;
  position: relative;
}
.header .header__social .social__link:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  transition: width 0.2s linear;
}
.header .header__social .social__link:hover:after {
  width: 100%;
}

.about {
  color: #000000;
}
.about .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 107px;
  padding-bottom: 116px;
}
.about .wrapper .about__img {
  width: 303px;
  height: 303px;
  margin-right: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.about .wrapper .about__img .my__img {
  display: block;
  transition: 0.6s linear;
}
.about .wrapper .about__img .my__img:hover {
  transform: scale(1.2);
}
.about .wrapper .about__info {
  border-left: 1px solid #000000;
  height: 368px;
  padding: 5px 0px 5px 25px;
}
.about .wrapper .about__info .about__title {
  font-size: 5.192rem;
  padding-left: 20px;
  font-family: "Brushwell";
  padding-bottom: 15px;
}
.about .wrapper .about__info .about__decription {
  font-family: "LouisGeorgeCafe";
  font-size: 1.25rem;
  line-height: 30px;
  width: 530px;
  opacity: 80%;
}
.about .wrapper .about__info .about__btn {
  padding: 10px 15px;
  letter-spacing: 1.82px;
  font-family: "LouisGeorgeCafe";
  font-size: 1.06rem;
  background-color: transparent;
  border: 1px solid #000000;
  margin-top: 30px;
  transition: 0.4s linear;
}
.about .wrapper .about__info .about__btn:hover {
  background-color: #000000;
  color: #ffffff;
  opacity: 80%;
}

.portfolio {
  background-image: url("../images/portfolio/Group.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
}
.portfolio .wrapper .portfolio__header {
  text-align: center;
  padding-top: 30px;
}
.portfolio .wrapper .portfolio__header .portfolio__title {
  font-family: "Brushwell";
  font-size: 5rem;
  color: #000000;
  padding-bottom: 20px;
  letter-spacing: 1.5px;
}
.portfolio .wrapper .portfolio__header .portfolio__2020 {
  padding-bottom: 40px;
}
.portfolio .wrapper .portfolio__header .portfolio__2020 .portfolio__subtitle {
  color: #ffffff;
  font-family: "RedVelvet";
  font-size: 4.46rem;
  position: relative;
}
.portfolio .wrapper .portfolio__header .portfolio__2020 .portfolio__subtitle:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: -10px;
  right: 0;
  z-index: 1;
  transition: width 0.3s linear;
}
.portfolio .wrapper .portfolio__header .portfolio__2020 .portfolio__subtitle:hover:after {
  width: 100%;
}
.portfolio .wrapper .portfolio__header .portfolio__description {
  font-size: 1.91rem;
  color: #000000;
  opacity: 60%;
  padding-bottom: 25px;
  font-family: "RedVelvet";
}
.portfolio .wrapper .portfolio__header .portfolio__btn {
  padding: 10px 35px;
  font-family: "LouisGeorgeCafe";
  font-size: 1.06rem;
  background-color: transparent;
  border: 1px solid #000000;
  margin-top: 30px;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.4s linear;
  text-transform: uppercase;
}
.portfolio .wrapper .portfolio__header .portfolio__btn:hover {
  background-color: #ffffff;
  opacity: 80%;
}

.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallery .gallery__slides {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .gallery__slides .gallery__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 0px 20px 0px 0px;
}
.gallery .gallery__slides .gallery__block .gallery__border {
  overflow: hidden;
  margin-bottom: 20px;
}
.gallery .gallery__slides .gallery__block .gallery__middle {
  margin-bottom: 23px;
  overflow: hidden;
}
.gallery .gallery__slides .gallery__block img {
  transition: 0.6s linear;
  display: block;
}
.gallery .gallery__slides .gallery__block img:hover {
  transform: scale(1.2);
}
.gallery .slick-initialized .slick-slide {
  display: flex;
}
.gallery .slick-dots {
  position: absolute;
  bottom: -40px;
}
.gallery .slick-dots li button {
  opacity: 80%;
}
.gallery .slick-dots li button:before {
  color: #707070;
}

.video {
  padding-bottom: 50px;
}
.video .video__header {
  background-image: url("../images/video/video-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-bottom: 50px;
}
.video .video__header .video__title {
  font-family: "RedVelvet";
  padding-top: 90px;
  display: block;
  font-size: 4.44rem;
  color: #ffffff;
  padding-bottom: 10px;
  width: 250px;
  margin: 0 auto;
  text-transform: uppercase;
  position: relative;
}
.video .video__header .video__title:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: -10px;
  right: 0;
  z-index: 1;
  transition: width 0.3s linear;
}
.video .video__header .video__title:hover:after {
  width: 100%;
}
.video .video__header .video__description {
  margin-top: 30px;
  font-family: "RedVelvet";
  font-size: 1.66rem;
  opacity: 64%;
}
.video .video__body .video__play .video__border {
  overflow: hidden;
  width: 936px;
  height: 521px;
  margin: 0 auto;
}
.video .video__body .video__play .video__border .video__link {
  display: block;
  background-image: url("../images/video/video-img.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 936px;
  height: 521px;
  margin: 0 auto;
  opacity: 1;
  margin-top: 59px;
  position: relative;
  transition: 0.3s linear;
}
.video .video__body .video__play .video__border .video__link .btn__play {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: transparent;
  bottom: 45%;
  right: 47%;
  transition: 0.3s linear;
}
.video .video__body .video__play .video__border .video__link .btn__play::after {
  content: "";
  position: absolute;
  border: 25px solid transparent;
  border-left: 40px solid #ffffff;
  transition: 0.3s linear;
}
.video .video__body .video__play .video__border .video__link:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.video .video__body .video__play .video__border .video__link:hover .btn__play::after {
  border-left: 40px solid #eb2f06;
}
.video .video__body .video__play .line {
  width: 23px;
  display: block;
  height: 2px;
  background-color: #000000;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 13px;
}
.video .video__body .video__play .video__description {
  font-family: "LouisGeorgeCafe";
  font-size: 1.25rem;
  color: #000000;
  line-height: 30px;
  text-align: center;
  opacity: 80%;
  margin-bottom: 46px;
}
.video .video__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video .video__bottom .video__img {
  margin-bottom: 24px;
}
.video .video__bottom .line {
  width: 23px;
  display: block;
  height: 2px;
  background-color: #000000;
  margin: 0 auto;
  margin-bottom: 13px;
}
.video .video__bottom .video__name {
  font-family: "LouisGeorgeCafe";
  font-size: 1.25rem;
  text-align: center;
  line-height: 30px;
}
.video .video__btn .video__more {
  padding: 10px 35px;
  font-family: "LouisGeorgeCafe";
  font-size: 1.06rem;
  background-color: transparent;
  border: 1px solid #000000;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.4s linear;
  text-transform: uppercase;
  color: #000000;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.video .video__btn .video__more:hover {
  background-color: #000000;
  color: #ffffff;
  opacity: 80%;
}