// colors 
@blue: #11749e;
@light-white: #5993b2;
@dark-white: #e2e2e2;
.header {
	background-image: url(../img/logo-background.jpg);
	background-repeat: no-repeat;
	background-position: top;
	height: 100vh;
	&__container {
		border-bottom: 1px solid #757575;
		&__top {
		width: 100%;
		display: flex;
		align-items: center;
		padding-top: 22px;
		
		.header__logo {
			padding-left: 20px;
			padding-bottom: 10px;
			&__box {
				width: 67px;
				height: 67px;
				background-color: @blue;
				display: block;
				text-align: center;
				-webkit-box-shadow: 11px 10px 0px -1px rgba(240,237,240,0.8);
				-moz-box-shadow: 11px 10px 0px -1px rgba(240,237,240,0.8);
				box-shadow: 11px 10px 0px -1px rgba(240,237,240,0.8);
				span {
					display: block;
					padding-top: 12px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 500;
					font-size: 34px;
					color: #fff;
				}
			}
		}
	}
		&__nav {
			margin-left: 240px;
			.navigation {
				display: flex;
				align-items: center;
				list-style: none;
				&__item {
					text-align: center;
					padding-left: 45px;
					&__link {
						display: block;
						transition: none;
						font-size: 20px;
						color: #fff;
						height: 100px;
						font-family: "Myriad Pro";
						font-weight: 500;
						padding-top: 40px;
					}
					&__link:hover {
						border-bottom: 4px solid @blue;
					}
				}
			}
		}
		&__right {
			padding-left: 20px;
			display: flex;
			justify-content: center;
			.header__social__facebook {
				margin-left: 20px;
				transition-timing-function: linear;
				color: #fff;
				transition: 0.4s;
				i {
					font-size: 20px;
				}
			}
			.header__social__twiter {
				margin-left: 20px;
				transition-timing-function: linear;
				color: #fff;
				transition: 0.4s;
				i {
					font-size: 20px;
				}
			}
			.header__social__skype {
				margin-left: 20px;
				transition-timing-function: linear;
				color: #fff;
				transition: 0.4s;
				i {
					font-size: 20px;
				}
			}
			.header__social__linkedin {
				margin-left: 20px;
				transition-timing-function: linear;
				color: #fff;
				transition: 0.4s;
				i {
					font-size: 20px;
				}
			}
			.header__social__facebook:hover {
			 	color: #3b5998;
			 	transition: 0.4s;
			}
			.header__social__twiter:hover {
				color: #00acee;
				transition: 0.4s;
			}
			.header__social__skype:hover {
				color: #00aff0;
				transition: 0.4s;
			}
			.header__social__linkedin:hover {
				color: #0077B5;
				transition: 0.4s;
			}
		}
	}

	.header__bottom {
		max-width: 1400px;
		margin: 0 auto;
		text-align: center;
		.header__title {
			padding-top: 270px;
			text-transform: uppercase;
			font-family: "Gotham Pro";
			font-weight: bold;
			font-size: 150px;
			color: #f5f5f5;
		}
		.header__under__title {
			font-family: 'Gotham Pro';
			font-weight: 500;
			font-size: 24px;
			color: @blue;
			letter-spacing: 22px;
			padding-bottom: 110px;
			text-transform: uppercase;
			padding-top: 15px;
		}
		.header__botoom__down {
			margin: 0 auto;
			.header__scroll__top {
				font-family: 'Open Sans';
				font-weight: normal;
				font-size: 13px;
				color: #f5f5f5;
				padding-bottom: 20px;
			}
			.header__scroll {
				display: flex;
				justify-content: center;
				align-items: center;
				.header__scroll__circle {
					display: block;
					position: relative;
					cursor: pointer;
					height: 62px;
					width: 62px;
					border: 2px solid #fff;
					border-radius: 50%;
				}
				.header__scroll__circle:before {
					position: absolute;
					width: 13px;
					height: 13px;
					content: '';
					border-bottom: 2px solid #fff;
					border-right: 2px solid #fff;
					top: 0;
					right: 40%;
					transform: rotate(45deg);
					transition: none;
					animation: stb 2s infinite;
				}
			}
			@keyframes stb {
				from{
					top: 5px;
					bottom: 10px;
					opacity: 1;
				}
				to {
					top: 35px;
					bottom: 35px;
					opacity: 0;
				}
			}
		}
	}
}

.agency {
	background-color: @blue;
	margin: 0 auto;
	&__container {
		&__top {
			text-align: center;
			text-transform: uppercase;
			position: relative;
			.agency__title {
				font-family: "Gotham Pro";
				color: #fff;
				font-weight: 500;
				font-size: 37px;
				opacity: 1;
				top: 65%;
				left: 29%;
				padding-bottom: 50px;
				position: absolute;
			}
			.agency__bacground {
				padding-top: 130px;
				font-family: 'Roboto Condensed Bold', arial;
				color: #5993b2;
				font-size: 247px;
				font-weight: bold;
				opacity: 0.8;
			}
		}
		&__bottom {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			.agency__item {
				width: 33%;
				text-align: center;
				&__top {
					display: block;
					left: 30%;
					width: 130px;
					height: 130px;
					background-color: #2e85aa;
					border: 1px solid transparent;
					border-radius: 50%;
					position: relative;
					margin-bottom: 10px;
					.agency__icon {
						background-image: url(../img/Write.png);
						background-repeat: no-repeat;
						background-position: center;
						position: absolute;
						width: 45px;
						height: 45px;
						top: 32%;
						right: 32%;
					}
					.agency__icon__loup {
						background-image: url(../img/Search.png);
						background-repeat: no-repeat;
						background-position: center;
						position: absolute;
						width: 45px;
						height: 45px;
						top: 32%;
						right: 32%;
					}
					.agency__icon__sad {
						background-image: url(../img/Simon-says.png);
						background-repeat: no-repeat;
						background-position: center;
						position: absolute;
						width: 45px;
						height: 45px;
						top: 32%;
						right: 32%;
					}
				}
				&__bottom {
					h3 {
						font-family: "Gotham Pro";
						color: #fff;
						font-weight: 500;
						font-size: 18px;
						text-transform: uppercase;
						padding-top: 10px;
						padding-bottom: 20px;
					} 
					p {
						font-family: 'Gotham';
						font-weight: normal;
						color: #fff;
						font-size: 15px;
						line-height: 25px;
						display: block;
						padding-bottom: 50px;
					}
				}
			}
		}
	}
}

.akita {
	&__container {
		&__top {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			.akita__left {
				width: 50%;
				height: 488px;
				padding-left: 215px;
				padding-top: 80px;
				padding-right: 100px;
				color: #fff;
				background-color: #222222;
				&__container {
					max-width: 1400px;
					margin: 0 auto;
					.akita__top {
						display: flex;
						align-items: center;
						padding-bottom: 20px;
						&__date {
							font-size: 13px;
							font-family: 'Gotham';
							font-weight: normal;
							color: #fff;
						}
						span {
							width: 15px;
							height: 1px;
							background-color: #fff;
							display: block;
							transform: rotate(90deg);
						}
					}
					h3 {
						font-family: 'Gotham Pro';
						font-weight: 500;
						font-size: 25px;
						color: #fff;
						text-transform: uppercase;
						padding-bottom: 30px;
					}
					.akita__desc {
						font-size: 15px;
						line-height: 25px;
						font-family: 'Gotham';
						font-weight: normal;
						color: #fff;
						padding-bottom: 20px;
					}
					.akita__text {
						font-size: 15px;
						line-height: 25px;
						font-family: 'Gotham';
						font-weight: normal;
						color: #fff;
						padding-bottom: 20px;
					}
				}
			}
			.akita__right {
				width: 50%;
				background-image: url(../img/Layer-881.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				height: 488px;
			}
		}
			&__bottom {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			.akita__right {
				width: 50%;
				height: 488px;
				padding-left: 80px;
				padding-top: 80px;
				padding-right: 100px;
				color: #222222;
				background-color: #f3f3f3;
				&__container {
					max-width: 1400px;
					margin: 0 auto;
					.akita__top {
						display: flex;
						align-items: center;
						padding-bottom: 20px;
						&__date {
							font-size: 13px;
							font-family: 'Gotham';
							font-weight: normal;
							color: #222222;
						}
						span {
							width: 15px;
							height: 1px;
							background-color: #222222;
							display: block;
							transform: rotate(90deg);
						}
					}
					h3 {
						font-family: 'Gotham Pro';
						font-weight: 500;
						font-size: 25px;
						color: #222222;
						text-transform: uppercase;
						padding-bottom: 30px;
					}
					.akita__desc {
						font-size: 15px;
						line-height: 25px;
						font-family: 'Gotham';
						font-weight: normal;
						color: #222222;
						padding-bottom: 20px;
					}
					.akita__text {
						font-size: 15px;
						line-height: 25px;
						font-family: 'Gotham';
						font-weight: normal;
						color: #222222;
						padding-bottom: 20px;
					}
				}
			}
			.akita__left {
				width: 50%;
				background-image: url(../img/Layer-901.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				height: 488px;
			}
		}
	}
}

.blog {
	background-color: #fff;
	&__container {
		&__top {
			text-align: center;
			text-transform: uppercase;
			position: relative;
			.blog__background {
				padding-top: 130px;
				font-family: 'Roboto Condensed Bold', arial;
				color: #e2e2e2;
				font-size: 247px;
				font-weight: bold;
				opacity: 0.8;
			}
			.blog__title {
				font-family: "Gotham Pro";
				color: #222;
				font-weight: 500;
				font-size: 37px;
				opacity: 1;
				top: 57%;
				left: 41%;
				padding-bottom: 50px;
				position: absolute;
			}
			.blog__description {
				text-transform: none;
				font-size: 30px;
				color: #222;
				font-family: 'Gotham';
				font-weight: normal;
				margin-bottom: 40px;
			}
		}
		&__bottom {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			.blog__item {
				width: 25%;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				.blog__image {
					height: 295px;
					width: 295px;
				}
				.blog__title {
					text-transform: uppercase;
					color: @blue;
					font-family: 'Gotham Pro';
					font-weight: 500;
					font-size: 18px;
					margin-top: 30px;
					margin-bottom: 20px;
				}
				.blog__description {
					text-align: center;
					font-size: 15px;
					font-family: 'Gotham';
					font-weight: normal;
					color: #222;
					line-height: 25px;
					padding-bottom: 80px;
				}
			}
		}
	}
}

.draw {
	background-color: @blue;
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		&__left {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 60px;
			padding-bottom: 100px;
			width: 50%;
			margin-right: 20px;
			.draw__icon {
				background-image: url(../img/Write.png);
				background-repeat: no-repeat;
				background-position: center;
				width: 100px;
				height: 50px;
				margin-right: 20px;
				display: block;
			}
			.draw__text {
				font-size: 15px;
				color: #fff;
				font-family: 'Gotham';
				font-weight: normal;
				line-height: 20px;
			}
		}
		&__right {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 60px;
			padding-bottom: 100px;
			width: 50%;
			.draw__icon {
				background-image: url(../img/Write.png);
				background-repeat: no-repeat;
				background-position: center;
				width: 100px;
				height: 50px;
				margin-right: 20px;
				display: block;
			}
			.draw__text {
				font-size: 15px;
				color: #fff;
				font-family: 'Gotham';
				font-weight: normal;
				line-height: 20px;
			}
		}
	}
}

.progress {
	background-image: url(../img/background__second.png);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	height: 100vh;
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		&__left {
			color: #fff;
			width: 50%;
			.progress__top {
				font-family: 'Gotham Pro';
				font-weight: 500;
				font-size: 25px;
				padding-bottom: 30px;
				text-transform: uppercase;
			}
			.progress__middle {
				font-size: 15px;
				font-family: 'Gotham';
				font-weight: normal;
				padding-bottom: 40px;
				line-height: 20px;
			}
			.progress__design {
				width: 370px;
				height: 37px;
				background-color: @blue;
				text-transform: uppercase;
				padding-top: 10px;
				padding-left: 10px;
				p {
					font-family: 'Gotham Pro';
					font-weight: 500;
					font-size: 15px;
					line-height: 20px;
				}
			}
			.progress__code {
				width: 398px;
				height: 37px;
				background-color: @blue;
				text-transform: uppercase;
				padding-top: 10px;
				padding-left: 10px;
				margin-top: 20px;
				p {
					font-family: 'Gotham Pro';
					font-weight: 500;
					font-size: 15px;
					line-height: 20px;
				}
			}
			.progress__layout {
				width: 429px;
				height: 37px;
				background-color: @blue;
				text-transform: uppercase;
				padding-top: 10px;
				padding-left: 10px;
				margin-top: 20px;
				p {
					font-family: 'Gotham Pro';
					font-weight: 500;
					font-size: 15px;
					line-height: 20px;
				}
			}
		}
		&__right {
			padding-top: 100px;
		}
	}
}

.team {
	&__container {
		&__top {
			position: relative;
			text-align: center;
			.team__background {
				padding-top: 70px;
				font-family: 'Roboto Condensed Bold', arial;
				color: #e2e2e2;
				font-size: 247px;
				font-weight: bold;
				opacity: 0.8;
			}
			.team__title {
				font-family: "Gotham Pro";
				color: #222;
				font-weight: 500;
				font-size: 37px;
				opacity: 1;
				top: 57%;
				left: 43%;
				padding-bottom: 50px;
				position: absolute;
				text-transform: uppercase;
			}
			.team__description {
				text-transform: none;
				font-size: 30px;
				color: #222;
				font-family: 'Gotham';
				font-weight: normal;
				margin-bottom: 40px;
			}
		}
		&__bottom {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			.team__item {
				margin-left: 30px;
				&__img {
					height: 416px;
					width: 268px;
					position: relative;
					margin-bottom: 100px;
					.team__box {
						background-color: #fff;
						width: 216px;
						height: 63px;
						display: block;
						bottom: 0;
						position: absolute;
						left: 10%;
						text-align: center;
						.team__name {
							padding-top: 20px;
							text-transform: uppercase;
							color: @blue;
							font-size: 20px;
							font-family: "Gotham Pro";
							font-weight: 500;
							padding-bottom: 20px;
						}
						.team__work {
							color: #222;
							font-size: 15px;
							font-family: "Gotham Pro";
							font-weight: 500;
						}
					}
				}
			}
		}
	}
}

.form {
	background-image: url(../img/form-background.png);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	&__container {
		text-align: center;
		padding-bottom: 80px;
		&__top {
			color: #fff;
			position: relative;
			.form__background {
				font-size: 247px;
				font-family: 'Roboto Condensed Bold',arial;
				font-weight: bold;
				color: #626262;
				padding-bottom: 60px;
				padding-top: 40px;
			}
			.form__title {
				font-family: "Gotham Pro";
				color: #fff;
				font-weight: 500;
				font-size: 37px;
				opacity: 1;
				top: 42%;
				left: 20%;
				padding-bottom: 50px;
				position: absolute;
				text-transform: uppercase;
			}
		}

		&__bottom {
			margin-bottom: 50px;
			.form__input {
				display: flex;
				justify-content: center;
				align-items: center;
				input {
					margin-left: 28px;
					width: 369px;
					height: 35px;
					padding-left: 20px;
					background-color: transparent;
					border: 1px solid #fff;
					color: #fff;
					margin-bottom: 50px;
					font-family: 'Gotham';
					font-weight: normal;
					font-size: 15px;
				}
				input::placeholder {
					color: #fff;
				}
			}
			.form__textarea {
				text-align: center;
				textarea  {
					width: 1170px;
					background-color: transparent;
					border: 1px solid #fff;
					padding-left: 20px;
					padding-top: 20px;
					font-family: 'Gotham';
					font-weight: normal;
					font-size: 15px;
					color: #fff;
					margin-left: 30px;
				}
				textarea::placeholder {
					color: #fff;
				}
			}
		}
		.form__btn {
			width: 226px;
			height: 64px;
			color: #fff;
			display: block;
			background-color: @blue;
			transition: none;
			padding: 20px 64px 10px 64px;
			text-transform: uppercase;
			font-family: "Gotham Pro";
			font-weight: 500;
			line-height: 25px;
			margin: 0 auto;
		}
	}
}

.map {
	width: 100%;
	iframe {
		width: 100%;
		height: 400px;
	}
}


.footer {
	background-color: #282828;
	height: 100px;
	color: #fff;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 50px;
		&__left {
			font-size: 15px;
			font-family: 'Myriad Pro';
			font-weight: normal;
			color: #fff;
		}
		&__right {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 13px;
			font-family: 'Myriad Pro';
			font-weight: normal;
			color: #fff;
			span {
				display: inline-block;
				height: 20px;
				width: 20px;
			}
		}
	}
}

.btn-up {
	display: block;
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 10px 20px;
	background-color: #40739e;
	opacity: 0.8;
	text-align: center;
	font-size: 20px;
	font-family: 'Gotham Pro';
	font-weight: bold;
	color: #fff;
	line-height: 25px;
	transition: 1s;
}
.btn-up:hover {
	opacity: 1;
	background-color: #00a8ff;
	transition: 1s;
	color: #fbc531;
}




// ADAPTIVE //

@media screen and (max-width: 1024px) {


	/* mob. menu */

	.navmob {
		position: fixed;
		display: block;
		left: 0;top: 0;
		width: 30%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #40739e;
		transition: 0.5s;
		transform: translateX(-100%);
		z-index: 99;
	}
	.menu_active {
		transform: translateX(0%);
	}
	.menu-list {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 50%;
		flex-direction: column;
	}
	.menu-list:hover {
		transition: background-color 3s cubic-bezier(0.1, 0.8, 0.5, 2), color 3s 1s linear;
	}
	.menu-list a {
		text-decoration: none;
		display: block;
		width: 250px;
		padding: 10px;
		text-align: center;
		color: #fff;
		//border-bottom: 1px solid #fff;
		border: 1px solid #fff;
	}
	.menu-btn {
		width: 30px;
		height: 30px;
		position: absolute;
		right: -35px;
		top: 10px;
		z-index: 99;
	}
	.content {
		transition: 0.5s;
	  	position: relative;
	  	z-index: 0;
	}
	.content_active {
		transform: translateX(30%);
	}




	.header {
		height: auto;
		padding-bottom: 50px;
		&__container {
			&__top {
				display: none;
			}
		}
		.header__bottom {
			display: flex;
			flex-direction: column;
			align-items: center;
			.header__title {
				font-size: 50px;
				padding-top: 100px;
				display: block;
			}
			.header__under__title {
				display: block;
				font-size: 14px;
				letter-spacing: 10px;
			}
		}
	}

	.agency {
		&__container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			&__top {
				.agency__bacground {
					padding-top: 60px;
				}
				.agency__title {
					left: 60px;
					right: 57px;
					top: 50%;
					font-size: 27px;
				}
			}
			&__bottom {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				.agency__item {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					&__top {
						left: 0;
					}
				}
			}
		}
	}

	.akita {
		&__container {
			width: 100%;
			&__top {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				.akita__left {
					width: 100%;
					padding-left: 20px;
					padding-right: 20px;
					display: block;
					height: auto;
					&__container {
						text-align: center;
						.akita__top {
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}
				}
				.akita__right {
					width: 100%;
				}
			}
			&__bottom {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				.akita__left {
					width: 100%;
				}
				.akita__right {
					width: 100%;
					padding-right: 20px;
					padding-left: 20px;
					height: auto;
					.akita__right__container {
						text-align: center;
						.akita__top {
							display: flex;
							justify-content: center;
							align-items: center;
						}
					}
				}
			}
		}
	}

	.blog {
		&__container {
			&__top {
				.blog__background {
					padding-top: 70px;
				}
				.blog__title {
					top: 50%;
					left: 100px;
					right: 100px;
				}
				.blog__description {
					display: block;
					font-size: 25px;
				}
			}
			&__bottom {
				display: flex;
				flex-direction: column;
				justify-content: center;
				.blog__item {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;
				}
			}
		}
	}

	.draw {
		&__container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			&__left {
				width: 100%;
				margin-right: 0;
				padding-left: 20px;
				padding-right: 20px;
				padding-bottom: 50px;
			}
			&__right {
				width: 100%;
				padding-left: 20px;
				padding-right: 20px;
				padding-bottom: 50px;
			}
		}
	}

	.progress {
		height: auto;
		&__container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			&__left {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: 100%;
				.progress__top {
					padding-top: 30px;
				}
				.progress__middle {
					padding-left: 20px;
					padding-right: 20px;
				}
				.progress__design {

				}
			}
			&__right {
				padding-bottom: 50px;
				img {
					height: 300px;
					width: 200px;
				}
			}
		}
	}

	.team {
		&__container {
			&__top {
				text-align: center;
				.team__title {
					left: 90px;
					right: 74px;
					top: 50%;
					display: block;
				}
				.team__description {
					display: block;
					font-size: 25px;
				}
			}
			&__bottom {
				display: flex;
				flex-direction: column;
				justify-content: center;
				.team__item {
					margin-left: 0;
					&__img {
						margin-bottom: 60px;
						.team__box {
							.team__name {
								display: block;
							}
							.team__work {
								display: block;
							}
						}
					}
				}
			}
		}
	}

	.form {
		&__container {
			&__top {
				display: flex;
				justify-content: center;
				.form__background {
					padding-bottom: 30px;
				}
				.form__title {
					display: block;
					font-size: 22px;
					top: 0;
					margin-top: 150px;
					right: 20%;
				}
			}
			&__bottom {
				display: flex;
				flex-direction: column;
				justify-content: center;
				.form__input {
					display: flex;
					flex-direction: column;
					justify-content: center;
					input {
						width: 90%;
						margin-left: 0;
						display: block;
						margin-bottom: 25px;
					}
				}
				.form__textarea {
					textarea {
						width: auto;
						display: block;
						margin-left: 0;
						margin: 0 auto;
					}
				}
			}
		}
	}

	.footer {
		&__container {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}

@media screen and (min-width:1024px) and (max-width: 1920px) {
	.navmob {
		display: none;
	}
}